.footer
  p © 2019 Shivam Malhotra

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

//-a.fa.fa-facebook(href='#')
//-a.fa.fa-twitter(href='#')
//-a.fa.fa-google(href='#')
//-a.fa.fa-linkedin(href='#')

