#nav
  ul
    li
      a(href='../homepage') Home
    li
      a(href='../projectpage') Projects
    li
      a(href='../servicespage') Skills
    li
      a(href='../aboutme') About Me
    li
      a(href='../contactme') Contact Me


    