//- File Name: PUG DOCUMENT
//- Author Name: Shivam Malhotra
//- Website Name: Portfolio Site
//- File Description: Navigation Bar

#nav
  ul
    li
      a(href='../homepage') Home
    li
      a(href='../projectpage') Projects
    li
      a(href='../servicespage') Skills
    li
      a(href='../aboutme') About Me
    li
      a(href='../contactme') Contact Me

    if userLoggedIn

    li
      a(href='../login') Logout


    li
      a(href='../login') Login

    li
      a(href='../register') Register      


    