nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href='../homepage') Home
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href='../aboutme')
          | Aboutme 
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='../servicespage') Services
      li.nav-item
        a.nav-link(href='../projectpage') Projects
      li.nav-item
        li.nav-item
        a.nav-link(href='../contactme') Contactme
    