//- File Name: PUG DOCUMENT
//- Author Name: Shivam Malhotra
//- Website Name: Portfolio Site
//- File Description: Homepage of the site



extends layout

block content
  
  h1 Shivam Malhotra 
  h2 Computer Programmer Analyst
 
  