extends layout

block content
 
  style.
   

   .skills {
   text-align: right;
   padding-top: 10px;
   padding-bottom: 10px;
   color: white;
   }
   .container {
   width: 100%;
   background-color: #ddd;
   }
   
   * {box-sizing: border-box}

    .java {width: 90%; background-color: orange;}
    .APIs {width: 80%; background-color: blue;}
    .js {width: 65%; background-color: green;}
    .mysql {width: 60%; background-color: purple;}

  h4 My Skills
  p JAVA
  .container
   .skills.java 92%
  p APIs
  .container
   .skills.APIs 85%
  p JavaScript
  .container
   .skills.js 70%
  p mysql
  .container
   .skills.mysql 65%
