/* File Name: CSS DOCUMENT
 Author Name: Shivam Malhotra
 Website Name: Portfolio Site
 File Description: To Style the Website */


 .footer p{
  transform: translate(0%, 150%);
}


.fa-linkedin {
  background: #0f6ed4;
  color: white;
}

.fa-facebook {
  background: #0f6ed4;
  color: white;
  transform: translate(2150%, -50%);
}



.fa {
    font-size: 31px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 51%;
    transform: translate(2200%, -50%);
  }

  .fa:hover {
    opacity: 0.8;
}

  .fa-twitter {
    background: cyan;
    color: white;
    transform: translate(2190%, -50%);
  }
  
  .fa-google {
    background: #bf1900;
    color: white;
    transform: translate(2200%, -50%);
  }
  
  

  

 


  